html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
}

.main {
  padding: 0 0 ($navbar-height + 20px);
}
.footer {
  position: relative;
  height: $navbar-height;
  margin-top: -($navbar-height);
  .navbar {
    margin: 0;
  }
}

//  Common  //
.headings-top-0 {
  margin-top: 0;
}

.form-control {
  box-shadow: none;
}

.form-group {
  margin-bottom: 17px;
}

.radio, .checkbox {
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
  input {
    display: none;
    &:checked + label {
      &:before {
        box-shadow: 0 0 0 3px #fff inset;
        background: $add-color;
      }
    }
  }
  input + label {
    &:before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      height: 15px;
      width: 15px;
      background: #fff;
    }
  }
}

.radio input + label:before {
  border-radius: 50%;
}

.btn {
  transition: all 0.3s ease-out 0s;
  height: $input-height-base;
  text-transform: uppercase;
}

.form-group-last {
  margin-bottom: 0;
}

//  Navbar //
.navbar-brand {
  padding: 0 15px;
  line-height: $navbar-height;
  i {
    color: $add-color;
    font-size: 31px;
    vertical-align: middle;
    position: relative;
    top: -3px;
  }
}

.navbar {
  border: 0;
  .navbar-nav {
    > li > a {
      transition: all 0.3s ease-out 0s;
    }
  }
}

.navbar-inverse {
  box-shadow: 0px 0px 10px 0 rgba(0,0,0,.4);
  .navbar-nav {
    > li > a {
      &:hover,
      &:focus {
        box-shadow: 0 -5px 0 $main-color-light inset;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }
}

.navbar-default {
  .navbar-nav {
    > .active > a {
      &,
      &:hover,
      &:focus {
        //box-shadow: 0 5px 0 $main-color-light inset;
      }
    }
  }
}


.promo-page {
  margin-top: $grid-gutter-width * 3;
  
  .col-md-6 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.panel-authorization {
  background: $main-color;
  color: #fff;
  margin-bottom: 0;

  .h3 {
    color: #fff;
  }

  .form-control {
    border-color: transparent;
  }

  a {
    color: #fff;
  }

  .pull-right {
    float: right;
  }

  .text-devider {
    margin: 0 15px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    width: 2px;
    background: $add-color;
  }
}

.block-inverse {
  background: $main-color;
  color: #fff;

  .form-control {
    border-color: transparent;
  }

  a {
    color: #fff;
  }
}


.btn-inverse {
  border: 2px solid #fff;
  color: #fff;
  background: $main-color;
  &:hover{
    color: #fff;
    background: lighten($main-color, 5)
  }
}
.btn-auth {width: 40%;}
.btn-reg {
  border: 2px solid $add-color;
  color: #fff;
  background: $add-color;
  width: 100%;
  
  &:hover{
    border-color: #fff;
    color: #fff;
    //background: #fff;
    //color: $add-color;
  }
}

.profile {}
.profile-header {
  background: $add-color;
  color: #fff;
  padding: 20px;

  a {
    color: #fff;
  }
  h1 {
    small {
      display: block;
      color: #fff;
      font-style: italic;
    }
  }
  @include clearfix();

}
.profile-photo {
  float: left;
  height: 150px;
  width: 150px;
  background: #ccc;
  border: 5px solid #fff;
  margin-right: 20px;
}